<a href="https://colab.research.google.com/github/Monoing/fullstack/blob/main/End_to_End.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
score = [10, 50, 60]
g1, g2, g3 = score

#Function

In [ ]:
def cube(number: int) -> int:
    assert isinstance (number, int), "Number should be int"
    return number**3

In [ ]:
cube(5)

125

In [ ]:
#lambda function
#Function ไม่มีชื่อ
cube1 = lambda number : number**3
sum_two_num = lambda a, b : a+b

In [ ]:
sum_two_num(12,50)

62

In [ ]:
#list of tuple
cars = [('mazda',2010),
        ('toyota',2015),
        ('honda',2001),
        ('mitsubishi',2002),
        ('ford',2021)]

In [ ]:
cars.sort(key= lambda car:car[1] , reverse= True)
print(cars)

[('ford', 2021), ('toyota', 2015), ('mazda', 2010), ('mitsubishi', 2002), ('honda', 2001)]

In [ ]:
x= 10
try:
    print(y/0)
except ZeroDivisionError:
    print("Cannot divide by zero.")
except NameError:
    print("Variable not define.")
finally:
    print("It's done")

Variable not define.
It's done

#OOP

In [30]:
class Dog():
    def __init__(self, name, age, color):
        self.name = name
        self.age = age
        self.color = color
    
    def __str__(self):
        return (f"I'm a Dog class and my name is {self.name}")

    def sitting(self):
        print("I'm sitting now!")

    def eatting(self, food_name):
        print(f"My favorite food is {food_name}.")
    
    def get_older(self):
        self.age += 1

In [31]:
joey = Dog("Joey", 10, "black")
adam = Dog("Adam", 5, "White")

In [3]:
print(joey.name)
print(joey.color)
print(joey.age)

Joey
black
10

In [4]:
print(adam.name)
print(adam.color)
print(adam.age)

Adam
White
5

In [5]:
joey.sitting()

I'm sitting now!

In [10]:
joey.eatting("pizza")

My favorite food is pizza.

In [18]:
joey.get_older()
print(joey.age)

11

In [32]:
print(joey)

I'm a Dog class and my name is Joey

#ATM
-Attributes => Balance

-Method => deposit, withdraw, check balance

In [103]:
import random

class ATM():
    def __init__(self, account_name, initial):
        self.account_name = account_name
        self.balance = initial
    
    def __str__(self):
        return (f"Your account name :{self.account_name}")

    def check_balnce(self):
        print(f"Your balance : {self.balance}")

    def deposit(self, money):
        self.balance += money

    def withdraw(self, money):
        if money > self.balance:
            print(f"Your balance: {self.balance} is not enough.")
        else:
            print("Success")
            self.balance -= money

    def online_withdraw(self, money):
        if money > self.balance:
            print(f"Error: Your balance is not enough.")
        else:
            OTP = random.randint(10000,99999)
            print(OTP)
            user_input = int(input("Please type your OTP:"))
            if (user_input == OTP):
                print("Success")
                self.balance -= money
            else:
                print("Your OTP is incorrect. Please try again")

In [108]:
my_atm = ATM("Benz",5000)

In [109]:
print(my_atm)
print(my_atm.account_name)
print(my_atm.balance)

Your account name :Benz
Benz
5000

In [110]:
my_atm.deposit(1000)
my_atm.withdraw(500)
my_atm.check_balnce()

Success
Your balance : 5500

In [111]:
my_atm.online_withdraw(600)
my_atm.check_balnce()

20611
Please type your OTP:20611
Success
Your balance : 4900

#Pandas

In [112]:
import numpy as np
import pandas as pd

In [113]:
!pwd

/content

In [114]:
!ls sample_data/

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [ ]:
!pip list

In [118]:
numbers = [1, 2, 3, 4, 5]
numbers = np.array(numbers)
print(numbers)
print(type(numbers))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [119]:
numbers.mean()

3.0