<a href="https://colab.research.google.com/github/Monoing/fullstack/blob/main/python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Into python 101**
- variable

- data type

- data structure: list, tuple

- function

In [ ]:
#basic calculation
print(1+1)
print(2*2)
print(10-2)
print(5/2)
print(5//2) ##floor division เอา ส่วน
print(5**3) ##power
print(9 % 2) ## mod เอา เศ๋ษ

2
4
8
2.5
2
125
1

# **Variable**

In [ ]:
#variable assigment
salary = 50000
expanse = 34000
saving = salary - expanse

In [ ]:
print(f"saving = {saving} ")

saving = 16000

In [ ]:
#delete variable
# del saving

In [ ]:
## tuple unpacking (multiple assigment)
my_name, my_salary, my_expanse = "Benz", 50000, 34000
print(my_name)
print(my_salary)
print(my_expanse)

Benz
50000
34000

# String

In [ ]:
name = 'benz'
print(name)
text = "I'm learning python"
print(text)
text2 = 'I am learning "python"'
print(text2)
text3 = 'I\'m learning \'python\'' ## escaping character \
print(text3)
text4 = """ This is very long string
This is very long stringThis is very long string
This is very long string """
print(text4)

benz
I'm learning python
I am learning "python"
I'm learning 'python'
 This is very long string
This is very long stringThis is very long string
This is very long string

In [ ]:
#print string
print("Hello", "Wolrd", "Python")

Hello Wolrd Python

In [ ]:
"Hello" + " world"

'Hello world'

In [ ]:
#fstring
my_name = "Benz"
my_age  = 26

text = f"Hello! my name is {my_name} and I am {my_age} years old."
print(text)

Hello! my name is Benz and I am 26 years old.

In [1]:
# method = function design for specific class
#string method

text = "a duck walks into a bar."
text.upper()

'A DUCK WALKS INTO A BAR.'

In [ ]:
text.capitalize()

'A duck walks into a bar.'

In [ ]:
text.count("a")

4

In [ ]:
text.replace("duck","chicken")

'a chicken walks into a bar.'

In [2]:
tokens = text.split(" ")
print(tokens)

['a', 'duck', 'walks', 'into', 'a', 'bar.']

In [4]:
text = " ".join(tokens)
print(text)

a duck walks into a bar.

# **Data type**
- int
- float
- string
- bool (boolean)

In [ ]:
#int 
x = 100
type(x)

int

In [ ]:
#float
x = 1.5
type(x)

float

In [ ]:
#string
text = "hello"
type(text)

str

In [ ]:
#bool
print(10*2 == 20)
print(10*2 > 30)
print("Hello" != "hello")

True
False
True

# **Data Structure**
- list [ ] mutable
- tuple ( ) immutable
- dictionary { } immutable
- set

In [5]:
#create a new list
fruits  = ["apple", "orange", "pineapple", "grape"] #เก็บอะไรก็ได้ int, float, str, bool
fruits

['apple', 'orange', 'pineapple', 'grape']

In [ ]:
print(fruits[0])
print(fruits[-1])

apple
grape

In [ ]:
print(fruits[:])
print(fruits[:2])
print(fruits[1:3])
print(fruits[1:])

['apple', 'orange', 'pineapple', 'grape']
['apple', 'orange']
['orange', 'pineapple']
['orange', 'pineapple', 'grape']

In [7]:
## add strawberry at the end of fruit
fruits.append("strawberry")
print(fruits)

['apple', 'orange', 'pineapple', 'grape', 'strawberry', 'strawberry']

In [8]:
fruits = fruits + ["mango", "water mellon"]
print(fruits)

['apple', 'orange', 'pineapple', 'grape', 'strawberry', 'strawberry', 'mango', 'water mellon']

In [9]:
"mango" in fruits

True

In [10]:
"Mango" in  fruits

False

In [13]:
fruit = "mango"

if fruit in fruits:
    print(f"{fruit} is in our list")
else:
    print(f"Not found {fruit}")

mango is in our list

In [ ]:
fruits.remove("orange")
print(fruit)

['apple', 'orange', 'pineapple', 'grape', 'strawberry']

In [ ]:
fruits.insert(1, "orange")
print(fruit)

['apple', 'orange', 'pineapple', 'grape', 'strawberry']

In [ ]:
# for loop (Control flow)
len(fruit)

for fruit in fruits:
    print(fruit.upper())

APPLE
ORANGE
PINEAPPLE
GRAPE
STRAWBERRY

In [14]:
fruit_uppercase = []

In [15]:
for fruit in fruits:
    x = fruit.upper()
    fruit_uppercase.append(x)

print(fruit_uppercase)

['APPLE', 'ORANGE', 'PINEAPPLE', 'GRAPE', 'STRAWBERRY', 'STRAWBERRY', 'MANGO', 'WATER MELLON']

In [17]:
# list comprehension

fruit_upper_v2 = [fruit.upper() for fruit in fruits]
print(fruit_upper_v2)

['APPLE', 'ORANGE', 'PINEAPPLE', 'GRAPE', 'STRAWBERRY', 'STRAWBERRY', 'MANGO', 'WATER MELLON']

In [18]:
# update value in list 
fruits[1] = "papaya"
fruits

['apple',
 'papaya',
 'pineapple',
 'grape',
 'strawberry',
 'strawberry',
 'mango',
 'water mellon']

In [26]:
# string is immutable

text = "Python"
text = "T" + text[1:]
print(text) 
text2 = "Hello world"
text2 = text2[0:6] + "Mars"
print(text2)
text3 = text2.split(" ")
text = text3[0] + " world"
print(text)

Tython
Hello Mars
Hello world

In [30]:
## tuple อัปเดทค่าไม่ได้ immutable, work like list
gpa = (3.5, 3.4, 3.89)
print(gpa)
print(gpa[0])
print(gpa[1:])
print(type(gpa))
score = ()
print(type(score))

(3.5, 3.4, 3.89)
3.5
(3.4, 3.89)
<class 'tuple'>
<class 'tuple'>

In [31]:
A, B, C = gpa ## tuple assignment
print(A)

3.5

In [45]:
# dictionary key-value pairs
# mutable + unordered
cars = {
    "brand": "Mazda",
    "Model": "Mazda 2", 
    "year": 2016, 
    "door": 5,
    "Accessories": ["Bose audio","Light", "skirt"]
}
print(cars)

{'brand': 'Mazda', 'Model': 'Mazda 2', 'year': 2016, 'door': 5, 'Accessories': ['Bose audio', 'Light', 'skirt']}

In [46]:
cars.keys()

dict_keys(['brand', 'Model', 'year', 'door', 'Accessories'])

In [47]:
cars.values()

dict_values(['Mazda', 'Mazda 2', 2016, 5, ['Bose audio', 'Light', 'skirt']])

In [48]:
cars.items()

dict_items([('brand', 'Mazda'), ('Model', 'Mazda 2'), ('year', 2016), ('door', 5), ('Accessories', ['Bose audio', 'Light', 'skirt'])])

In [49]:
"Model" in cars

True

In [50]:
# get information from dictionary
cars["Model"]

'Mazda 2'

In [51]:
#Real world dictionary
customers = {
    "name" : "David",
    "age" : 35,
    "location" : "London",
    "movie_lover" : True,
    "movie_top_tree": ["Avengers", "Thor", "Tenet"]

}

customers

{'age': 35,
 'location': 'London',
 'movie_lover': True,
 'movie_top_tree': ['Avengers', 'Thor', 'Tenet'],
 'name': 'David'}

In [57]:
#creat new key
customers["spending"] = 3500
customers

{'age': 35,
 'location': 'London',
 'movie_lover': True,
 'movie_top_tree': ['Avengers', 'Thor', 'Tenet'],
 'name': 'David',
 'spending': 3500}

In [58]:
# update value
customers["spending"] += 6500
customers

{'age': 35,
 'location': 'London',
 'movie_lover': True,
 'movie_top_tree': ['Avengers', 'Thor', 'Tenet'],
 'name': 'David',
 'spending': 10000}

In [64]:
print(customers["movie_top_tree"][0])
print(customers["movie_top_tree"][1])
print(customers["movie_top_tree"][0:2])

Avengers
Thor
['Avengers', 'Thor']

In [73]:
#nested dictionary

customers = {
    "ID001": {
    "name" : "David",
    "age" : 35,
    "location" : "London",
    "movie_lover" : True,
    "movie_top_tree": ["Avengers", "Thor", "Tenet"],
    "mobile_operator": "Truemove"
    },
    "ID002": {
    "name" : "Anna",
    "age" : 28,
    "location" : "Seoul",
    "movie_lover" : True,
    "movie_top_tree": ["The dark knight", "Justice League", "Spider Man"],
    "favorite_food": "Tomyum Goong"
    },
    "ID003": {
    "name" : "Takashi",
    "age" : 26,
    "location" : "Tokyo",
    "movie_lover" : False,
    "movie_top_tree": []
    }

}

customers

{'ID001': {'age': 35,
  'location': 'London',
  'mobile_operator': 'Truemove',
  'movie_lover': True,
  'movie_top_tree': ['Avengers', 'Thor', 'Tenet'],
  'name': 'David'},
 'ID002': {'age': 28,
  'favorite_food': 'Tomyum Goong',
  'location': 'Seoul',
  'movie_lover': True,
  'movie_top_tree': ['The dark knight', 'Justice League', 'Spider Man'],
  'name': 'Anna'},
 'ID003': {'age': 26,
  'location': 'Tokyo',
  'movie_lover': False,
  'movie_top_tree': [],
  'name': 'Takashi'}}

In [79]:
customers["ID001"]["mobile_operator"]

'Truemove'

In [78]:
customers["ID002"]["movie_top_tree"][0]

'The dark knight'

In [81]:
"mobile_operator" in customers["ID002"]

False

# **Control flow**
- if
- for
-while

In [82]:
# menu my food
days = ["weekday", "weekend"]
times = ["breakfast", "dinner"]

In [84]:
day = "weekday"
time = "breakfast"

if day == "weekday" and time == "breakfast":
    print("My menu is banana.")
elif day == "weekday" and time == "dinner":
    print("My menu is pizza.")
elif day == "weekend" and time == "breakfast":
    print("My menu is milk and bread.")
else:
    print("I can eat anything")

My menu is banana.

In [89]:
#menu food
days = ["weekday", "weekend"]
times = ["breakfast", "dinner"]
menus = ["banana", "pizza", "milk and bread"]

#input
day = input("Today is weekday or weekend?")
time = input("breakfast or dinner")

#program
if day == days[0] and time == times[0]:
    print(f"My menu is {menus[0]}.")
elif day == days[0] and time == times[1]:
    print(f"My menu is {menus[1]}.")
elif day == days[1] and time == times[0]:
    print(f"My menu is {menus[2]}.")
else:
    print("I can eat anything")

Today is weekday or weekend?weekday
breakfast or dinnerdinner
My menu is pizza.

In [92]:
#While loop
count = 0
while count < 5:
    print(f"Hello {count}")
    count += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4

In [96]:
status = True
count = 0
while status:
    print(f"Hello World {count}")
    count += 1
    if count > 10:
        status = False

Hello World 0
Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5
Hello World 6
Hello World 7
Hello World 8
Hello World 9
Hello World 10

# **Function**

In [ ]:
def add_two_nums(a, b):
    return a + b

In [ ]:
result = add_two_nums(10,30)
print(result)

40

In [ ]:
## greeting a user
def greeting():
    username = input("What is your name? ")
    print("Hello " + username)
    feeling = input("How are you today? ")
    print(f"{username} feel {feeling}!")
    print("That's great, hope you are wll!")

In [ ]:
greeting()

What is your name? benz
Hello benz
How are you today? good
benz feel good!
That's great, hope you are wll!

In [97]:
def my_menu():
        #menu food
    days = ["weekday", "weekend"]
    times = ["breakfast", "dinner"]
    menus = ["banana", "pizza", "milk and bread"]

    #input
    day = input("Today is weekday or weekend?")
    time = input("breakfast or dinner")

    #program
    if day == days[0] and time == times[0]:
        print(f"My menu is {menus[0]}.")
    elif day == days[0] and time == times[1]:
        print(f"My menu is {menus[1]}.")
    elif day == days[1] and time == times[0]:
        print(f"My menu is {menus[2]}.")
    else:
        print("I can eat anything")

In [98]:
my_menu()

Today is weekday or weekend?weekday
breakfast or dinnerdinner
My menu is pizza.